<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>转账 - 银行 ATM 机模拟</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div id="app">
  <div class="header">
    <img src="/img/ysu.png" alt="ATM图片" class="atm-image">
    <h1 class="atm-title">YSU银行模拟ATM</h1>
  </div>
  <h2>转账</h2>
  <div class="form-container">
    <label for="recipient">收款人账户：</label>
    <input type="text" id="recipient" v-model="recipient" placeholder="请输入收款人账户" required>
    <label for="amount">转账金额：</label>
    <input type="number" id="amount" v-model="amount" placeholder="请输入转账金额" required><br><br>
    <button @click="transfer">转账</button>
    <button @click="goBack">返回</button>
  </div>
  <div v-if="message" class="message">{{ message }}</div>
</div>
<footer class="footer">
  <p>作者：23计算机科学与技术5班 李济岑 &copy; 2025 YSU银行ATM模拟系统</p>
</footer>
<script src="/js/transfer.js">

</script>
</body>
</html>
